################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Rise_From_The_Ashes/FileContentIndex/1b9a3870-e468-409b-acfc-bf45f41cc20e.vsidx
*.vsidx
/.vs/Rise_From_The_Ashes/FileContentIndex/51322b0a-0dcb-40ff-943c-dc1a0c834a43.vsidx
/.vs/Rise_From_The_Ashes/FileContentIndex/70fd0a00-1631-4ce3-9ef0-ae37428c1011.vsidx
/.vs/Rise_From_The_Ashes/FileContentIndex/87cfcaf7-a648-4466-9dc6-b7c7e05d920b.vsidx
/0-ConsoleExtension/bin/Debug/0-ConsoleExtension.dll
/0-ConsoleExtension/bin/Debug/0-ConsoleExtension.pdb
/0-ConsoleExtension/bin/Release/0-ConsoleExtension.dll
/0-ConsoleExtension/bin/Release/0-ConsoleExtension.pdb
/0-ConsoleExtension/obj/Debug/0-ConsoleExtension.csproj.AssemblyReference.cache
/0-ConsoleExtension/obj/Debug/0-ConsoleExtension.csproj.CoreCompileInputs.cache
/0-ConsoleExtension/obj/Debug/0-ConsoleExtension.csproj.FileListAbsolute.txt
/0-ConsoleExtension/obj/Debug/0-ConsoleExtension.dll
/0-ConsoleExtension/obj/Debug/0-ConsoleExtension.pdb
/0-ConsoleExtension/obj/Release/0-ConsoleExtension.csproj.AssemblyReference.cache
*.pdb
*.cache
/0-ConsoleExtension/obj/Release/0-ConsoleExtension.csproj.FileListAbsolute.txt
/0-ConsoleExtension/obj/Release/0-ConsoleExtension.dll
/1a_Rise_from_the_Ashes_Init_items/UIAtlases/Coupon Print - Portland Metro RV Dealers.pdf
/1a_Rise_from_the_Ashes_Init_items/UIAtlases/Jostens Order Confirmation #W96272717.pdf
/2-SCore/.vs/0-SCore/FileContentIndex/61a47e6a-ab3c-4370-87de-30c04f8fbca6.vsidx
/3_Rise_From_The_Ashes/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/3_Rise_From_The_Ashes/obj/Debug/Rise_From_The_Ashes.csproj.AssemblyReference.cache
/3_Rise_From_The_Ashes/obj/Debug/Rise_From_The_Ashes.csproj.CoreCompileInputs.cache
/3_Rise_From_The_Ashes/obj/Debug/Rise_From_The_Ashes.csproj.FileListAbsolute.txt
/3_Rise_From_The_Ashes/obj/Debug/Rise_From_The_Ashes.pdb
/3_Rise_From_The_Ashes/obj/Debug/Rise_From_The_Ashes.dll
/3_Rise_From_The_Ashes/obj/Release/Rise_From_The_Ashes.csproj.AssemblyReference.cache
/3_Rise_From_The_Ashes/obj/Release/Rise_From_The_Ashes.csproj.CoreCompileInputs.cache
/3_Rise_From_The_Ashes/obj/Release/Rise_From_The_Ashes.csproj.FileListAbsolute.txt
/3_Rise_From_The_Ashes/obj/Release/Rise_From_The_Ashes.dll
/3_Rise_From_The_Ashes/obj/Release/Rise_From_The_Ashes.pdb
/3_Rise_From_The_Ashes/InControl.dll
/3_Rise_From_The_Ashes/Rise_From_The_Ashes.dll
/3_Rise_From_The_Ashes/Rise_From_The_Ashes.pdb
/RiseTests/bin/Debug/RiseTests.dll
/RiseTests/bin/Debug/RiseTests.pdb
/RiseTests/bin/Debug/Rise_From_The_Ashes.dll
/RiseTests/bin/Debug/Rise_From_The_Ashes.pdb
/RiseTests/bin/Release/RiseTests.dll
/RiseTests/bin/Release/RiseTests.pdb
/RiseTests/bin/Release/Rise_From_The_Ashes.dll
/RiseTests/bin/Release/Rise_From_The_Ashes.pdb
/RiseTests/obj/Debug/RiseTests.csproj.AssemblyReference.cache
/RiseTests/obj/Debug/RiseTests.csproj.FileListAbsolute.txt
/RiseTests/obj/Debug/RiseTests.dll
/RiseTests/obj/Debug/RiseTests.pdb
/0-ConsoleExtension.dll
/RiseTests/obj/Release/RiseTests.csproj.AssemblyReference.cache
/RiseTests/obj/Release/RiseTests.dll
/RiseTests/obj/Release/RiseTests.pdb
.vs/Rise_From_The_Ashes/v17/DocumentLayout.json
.vs/Rise_From_The_Ashes/v17/DocumentLayout.json
